body{
    background-image: url(./images/bg_img.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-color:#00294a;
    font-family: 'Cabin', sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; 
    background-image: url(./images/bg_top_01.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(16px);
    filter:brightness(50%);
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{
    background-color: rgba(3, 27, 50, 0.9) !important;
    padding-right: 1rem;
}

a.navbar-brand{
    font-size: x-large;
}

a.nav-link{
    font-size: large;
    color:#586f8f
}

div.p-4.p-md-5.mb-4.rounded.text-body-emphasis.bg-body-secondary{
    margin-top:1.5rem;
}

div.px-4.pt-5.my-5.text-center.border-bottom{
    color:white;
}

h1.display-4.fw-bold.text-body-emphasis{
    color: white !important;
}

span.fs-4{
    color:White;
}

a.nav-link.px-2{
    color:White !important;
    font-size: large;
}

button.btn.btn-secondary{
    background-color: transparent;
    border: none;
}
a.nav-link.active.px-2{
    color:rgb(55, 218, 255) !important;
    font-weight:bold;
}

div.p-4.p-md-5.mb-4.rounded.text-body-emphasis.bg-body-secondary{
    background-color: rgba(0, 100, 146, 0.133) !important;
    color:white !important;
}

div.card{
    background-color: rgba(12, 47, 81, 0.6) !important;
    color:white !important;
}

div.list-group.list-group-flush{
    border-top-color: white !important;
}

li.list-group-item{
    background-color: transparent !important;
    color:white !important;
}

a.card-link{
    color: rgb(255, 255, 255)!important;
}
a.card-link:hover{
    color: rgb(120, 38, 59) !important;
}

h5.card-header{
    font-weight: lighter;
    font-size: smaller;
}

button.btn.btn-secondary{
    text-decoration: underline;
}

ul.dropdown-menu.show{
    background-color: transparent;
    color:white;
}
/* Your existing CSS styles */

/* Style for the popup */
/* Your existing CSS styles */

/* Style for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3); 
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  /* Style for the popup */
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width:500px;
    max-width: 80%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    z-index: 2;
  }

  div.card.popup-content{
    background-color: rgb(0, 41, 80) !important;
  }

  div.card#popup-visible{
    background-color: rgb(12, 47, 81) !important;
    color:white !important;
}

svg.bi{
    color:rgb(175, 218, 255) !important;
}

svg.bi:hover{
    color:rgb(120, 38, 59) !important;
}

span.mb-md-0.text-body-secondary{
    color:white !important;
}

  
  